{% extends 'layout.html.twig' %}

{% block title %}Ajouter rapport specifique{% endblock %}

{% block body %}


            <h1 style="text-align: center; color: black"><strong>Crée un nouveau rapport specifique</strong></h1>

            {{ include('rapportSpecifiques/_form.html.twig') }}
            <br>


{% endblock %}
