{% extends 'layout.html.twig' %}

{% block title %}Les Commentaires{% endblock %}

{% block body %}

    <h1 style="text-align: center">Liste des Commentaires</h1>
    <br>
    <div class="container-fluid " style="padding:0px 7em; ">
        <table class="table table-striped table-bordered " style="border-radius: 10px;box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); ">
            {% if commentaires is not empty %}
                <thead class="thead-dark">
                <tr class="table-secondary">
                    <th scope="col">Match</th>
                    <th>Le Texte</th>
                </tr>
                </thead>
                <tbody>
                {% for commentaire in commentaires %}
                    <tr class="text-center">
                        <td>{{ commentaire.texte }}</td>
                        <td>{{ commentaire.matchs }}</td>
                    <tr>
                        <td colspan="8">Aucun Commentaire de trouvé</td>
                    </tr>
                {% endfor %}
                {% else %}
                <p>Aucun commentaire</p>

            {% endif %}
            </tbody>
        </table>
    </div>




{% endblock %}


