{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div style="text-align: center; margin-left: 35%; margin-right: auto">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'col-lg-5' }}) }}
            {{ form_widget(form) }}
            <button class="btn btn btn-success">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
