{% extends 'layout.html.twig' %}

{% block title %}Ajouter Joueur{% endblock %}

{% block body %}

    <h1 style="text-align: center">Crée un nouveau Joueur</h1>

    {{ include('joueurs/_form.html.twig') }}

{% endblock %}
