{% extends 'layout.html.twig' %}

{% block title %}Modifier le Joueur{% endblock %}

{% block body %}*

    <h1 style="text-align: center; color: black"><strong>Modifier le Joueur {{ joueur.nom }}</strong></h1>

    {{ include('joueurs/_form.html.twig', {'button_label': 'Valider Modification'}) }}


{% endblock %}
