{% extends 'layout.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ joueur.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ joueur.prenom }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
