{% extends 'layout.html.twig' %}

{% block title %}Ajouter Club{% endblock %}

{% block body %}
    <h1 style="text-align: center">Crée un nouveau Club</h1>

    {{ include('clubs/_form.html.twig') }}
    <br>
    <a href="{{ path('clubs_show') }}" class="btn btn-warning">Revenir a la liste des Clubs</a>
{% endblock %}
