{% extends 'layout.html.twig' %}

{% block title %}Modifier le Club{% endblock %}

{% block body %}
    <br>
    <h1 style="text-align: center; color: black"><strong>Modifier le Club</strong></h1>

    {{ include('clubs/_form.html.twig', {'button_label': 'Valider Modification'}) }}

{% endblock %}
