{% extends 'layout.html.twig' %}

{% block title %}Club{% endblock %}

{% block body %}
    <h1>Le club</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom Club</th>
            <td>{{ club.nomClub }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
