.target{
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 5;
    background-color: red;
    border-radius: 3em;

}
.target:hover{
    background-color: blue;
}
.target:-moz-drag-over{
    background-color: green;
}
#targets{
    position: relative;
    z-index: 1;
}
img:hover{
    opacity: 100%;
}
img{
    opacity: 75%;
}