{% extends 'layout.html.twig' %}

{% block title %}Modifier le Tournoi{% endblock %}

{% block body %}
    <h1 style="text-align: center; color: black"><strong>Modifier le Tournoi</strong></h1>

    {{ include('tournois/_form.html.twig', {'button_label': 'Valider Modification'}) }}
    <br>

{% endblock %}
