{% form_theme form1 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div style="text-align: center; margin-left: 35%; margin-right: auto">
        {{ form_start(form1, {'attr': {'novalidate': 'novalidate', 'class': 'col-lg-5' }}) }}
            {{ form_widget(form1) }}
            <button class="btn btn btn-success">{{ button_label|default('Save') }}</button>
        {{ form_end(form1) }}
    </div>
{% endblock %}
