{% extends 'layout.html.twig' %}

{% block title %}Ajouter un Match{% endblock %}

{% block body %}
    <br>
    <h1 style="text-align: center">Créer un nouveau Match</h1>
    <br>
    <br>

    {{ include('rapportMatch/match/_form.html.twig') }}
{% endblock %}
