{% extends 'layout.html.twig' %}

{% block title %}Choisir Un Tournoi{% endblock %}

{% block body %}
    <br>
    <h1 style="text-align: center">Choisir Tournoi</h1>
    <br>
    <br>

    {{ include('rapportMatch/match/_formTournoi.html.twig') }}
{% endblock %}
