{% extends 'layout.html.twig' %}

{% block title %}Ajouter Contrat{% endblock %}

{% block body %}
    <h1 style="text-align: center">Crée un nouveau Contrat</h1>

    {{ include('contrats/_form.html.twig') }}
    <br>
    <a href="{{ path('contrats_show') }}" class="btn btn-warning">Revenir a la liste des Contrats</a>
{% endblock %}
