{% extends 'layout.html.twig' %}

{% block title %}Ajouter Contrat{% endblock %}

{% block body %}
    <h1 style="text-align: center; color: black"><strong>Crée un nouveau Contrat</strong></h1>

    {{ include('contrats/_form.html.twig') }}
    <br>

{% endblock %}
