{% extends 'layout.html.twig' %}

{% block title %}Modifier le Contrat{% endblock %}

{% block body %}
    <h1 style="text-align: center; color: black"><strong>Modifier le Contrat</strong></h1>
    <div>
        {{ include('contrats/_form.html.twig', {'button_label': 'Valider Modification'}) }}
    </div>

{% endblock %}
