{% extends('layout.html.twig') %}

{% block body %}
<body>
  <section id="container">

    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">
            <div class="row mt">

              <h1 style="text-align: center; font-weight: bold">Accès Rapide</h1>
              <br>
              <!-- Creer Un Rapport -->
              <div class="col-md-4 col-sm-4 mb">
                <div class="darkblue-panel pn">
                  <div class="darkblue-header">
                    <h5>Créer un Rapport Spécifique</h5>
                  </div>
                  <div class="row">
                    <a class="btn btn-warning" href="{{ path('matchs_add') }}">Création</a>
                  </div>
                </div>
              </div>


              <!-- Voir La Liste Des Joueurs -->
              <div class="col-md-4 col-sm-4 mb">
                <div class="darkblue-panel pn">
                  <div class="darkblue-header">
                    <h5>Liste des Joueurs</h5>
                  </div>
                  <a class="btn btn-warning" href="{{ path('joueurs_show') }}">Accéder à La liste des joueurs</a>
                </div>
              </div>

              <!-- Les Rapports Specifique -->
              <div class="col-md-4 col-sm-4 mb">
                <div class="darkblue-panel pn">
                  <div class="darkblue-header">
                    <h5>Les Rapports Specifiques</h5>
                  </div>
                  <a class="btn btn-warning" href="{{ path('rapportSpecifiques_show') }}">Accéder aux rapports specifiques</a>
                </div>
              </div>

              <!-- Notifications -->
              <div class="col-md-4 col-sm-4 mb">
                <div class="darkblue-panel pn">
                  <div class="darkblue-header">
                    <h5>Notifications</h5>
                  </div>
                  <div class="row">
                    <a class="btn btn-warning" href="#">Notifications</a>
                  </div>
                </div>
              </div>

              <!-- Notifications -->
              <div class="col-md-4 col-sm-4 mb">
                <div class="darkblue-panel pn">
                  <div class="darkblue-header">
                    <h5>Gestion du Club</h5>
                  </div>
                  <div class="row">
                    <a class="btn btn-warning" href="#">Accéder à la gestion du club</a>
                  </div>
                </div>
              </div>

              <!-- Notifications -->
              <div class="col-md-4 col-sm-4 mb">
                <div class="darkblue-panel pn">
                  <div class="darkblue-header">
                    <h5>Effectif Club</h5>
                  </div>
                  <div class="row">
                    <a class="btn btn-warning" href="#">Effectif club</a>
                  </div>
                </div>
              </div>

           </div>
          </div>
        </div>
      </section>
    </section>


  </section>

{% endblock %}


