<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}Ceci est un message pour sochaux!!K!{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
