{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <button style="width: 30%" type="submit" class="btn btn btn-warning">{{ button_label|default('Rechercher') }}</button>

    </div>

{% endblock %}
